.container-principal {
  background-color: #043c2c;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px;
}

.banner-h1 {
  color: #c4b06b;
  text-shadow: 3px 1px 2px #6d5e2b;
  font-size: 80px;
  font-family: 'IBM Plex Mono', monospace;
  font-style: italic;
  margin-bottom: 0;
}

.banner-img {
  width: 64px;
  height: 64px;
  margin-top: 75px;
  margin-left: 20px;
  margin-right: 20px;
}

@media (max-width: 425px) {
  .container-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 85px 0 85px 0;
  }

  .banner-h1 {
    color: #c4b06b;
    text-shadow: 3px 1px 2px #6d5e2b;
    font-size: 35px;
    font-family: 'IBM Plex Mono', monospace;
    font-style: italic;
    padding: 0 10px;
    margin-bottom: 0;
  }

  .banner-img {
    width: 64px;
    height: 64px;
    margin-top: 35px;
    margin-left: 20px;
    margin-right: 20px;
  }
}