.container-footer {
  background-color: #043326;
  display: flex;
  flex-direction: row;
  font-family: 'IBM Plex Mono', monospace;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}

.container-footer h3 {
  color: #c4b06b;
  text-shadow: 3px 1px 2px #6d5e2b;
  font-size: 25px;
  font-family: 'IBM Plex Mono', monospace;
  font-style: italic;
  margin-bottom: 0;
  margin-top: 0;
}

.ul-footer {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.ul-footer li span {
  color: #6d5e2b;
  font-size: 22px;
  font-weight: bold;
}

.ul-footer li a {
  color: #c4b06b;
  font-size: 20px;
  text-decoration: none;
}

.ul-footer li a:hover {
  color: #6d5e2b;
}

.container-footer p {
  color: #c4b06b;
  font-size: 22px;
  font-weight: bold;
}

@media (max-width: 425px) {
  .container-footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .container-footer h3 {
    font-size: 17px;
  }

  .container-footer p {
    font-size: 15px;
    text-align: center;
    display: none;
  }

  .ul-footer {
    padding: 0;
    text-align: center;
  }

  .ul-footer li a {
    font-size: 15px;
  }
}