.section-projects {
  display: flex;
  background-color: #043326;
  font-family: 'IBM Plex Mono', monospace;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 150px;
}

.section-projects h1 {
  color: #c4b06b;
  text-shadow: 3px 1px 2px #6d5e2b;
  font-size: 50px;
  font-family: 'IBM Plex Mono', monospace;
  font-style: italic;
  margin-bottom: 50px;
}

.section-projects ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-projects ul li a {
  margin-left: 50px;
  list-style: none;
  color: #73a695;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.section-projects ul li a:hover {
  color: #d9cca0;
}

@media (max-width: 425px) {
  .section-projects {
    padding: 30px;
    justify-content: center;
  }

  .section-projects h1 {
    font-size: 35px;
    margin-bottom: 30px;
  }

  .section-projects ul {
    padding: 0;
  }

  .section-projects ul {
    flex-direction: column;
  }

  .section-projects ul li a {
    margin-left: 0;
  }
}