.section-skills {
  display: flex;
  background-color: #043c2c;
  font-family: 'IBM Plex Mono', monospace;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 150px;
}

.section-skills h1 {
  color: #c4b06b;
  text-shadow: 3px 1px 2px #6d5e2b;
  font-size: 50px;
  font-family: 'IBM Plex Mono', monospace;
  font-style: italic;
  margin-bottom: 30px;
}

.section-skills p a {
  margin-left: 40px;
}

@media (max-width: 425px) {
  .section-skills {
    justify-content: center;
    padding: 30px;
  }

  .section-skills h1 {
    font-size: 35px;
    margin-bottom: 30px;
  }

  .section-skills p {
    margin: 20px auto;
  }

  .section-skills p a img {
    width: 58px;
  }
}