/* general */

body {
	background-color: #383e56;
	color: #c5d7bd;
	font-size: 20px;
	font-family: "IBM Plex Mono";
	text-shadow: 2px 2px 2px black;
}

img {
	width: 300px;
	border-radius: 50%;
	padding: 100px 0 100px 0;
}

a {
	color: #fb743e;
	text-decoration: none;
}

ul {
	list-style: none;
}

/* MENU */

.menu {
	display: flex;
	margin: 0 auto;
	max-width: 20%;
}

.lista-menu {
	margin: 20px;
	font-size: 1.5em;
	color: #fb743e;
}

.lista-menu:hover {
	color: #c5d7bd;
}

.nome-menu {
	text-align: left;
	font-family: "Poppins";
}

/* COVER */

#capa {
	margin-top: 6em;
	margin-bottom: 6em;
	text-align: center;
	font-size: 2.3em;
	color: #c5d7bd;
}

.meu-nome {
	color: #fb743e;
}

.logo {
	width: 100px;
}

.logo:hover {
	transform: scale(120%);
}

/* ABOUT */

#sobre {
	background-color: #334756;
	margin-top: 6em;
	margin-bottom: 6em;
	display: flex;
}

.about-text {
	text-align: center;
	padding: 100px 200px 100px 200px;
	max-width: 50%;
}

.title-about {
	font-size: 2em;
}

.eu-foto {
	margin-top: 85px;
}

/* SKILLS */

#skills {
	display: flex;
	justify-content: space-around;
	margin-top: 6em;
	margin-bottom: 6em;
}

.soft {
	justify-content: space-around;
	max-width: 50%;
	margin-right: 245px;
}

.hard {
	max-width: 50%;
	margin-left: 245px;
}

.giphy-embed {
	border-radius: 45%;
}

#title-hard {
	text-align: center;
	font-size: 2em;
	color: #fb743e;
}

#soft2 {
	text-align: center;
	font-size: 2em;
	color: #9fb8ad;
}

.lista-hard ::before {
	content: "\2022";
	color: #fb743e;
	font-weight: bold;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
	text-shadow: 2px 2px 2px black;
}

.lista-soft ::before {
	content: "\2022";
	color: #9fb8ad;
	font-weight: bold;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
	text-shadow: 2px 2px 2px black;
}

/* INDICATION */

#secao-indicacao {
	display: block;
	text-align: center;
	padding-bottom: 6em;
	padding-top: 6em;
	background-color: #334756;
}

.indication {
	display: flex;
	text-align: center;
}

.title-indication {
	font-size: 2em;
	text-align: center;
	font-size: 2em;
}

.print {
	border-radius: 0%;
	padding: 1em;
	margin-top: 1em;
	width: 350px;
	border-radius: 30px;
}

.print:hover {
	transform: scale(120%);
}

.button {
	padding: 5px 20px 5px 20px;
	width: 100px;
	background-color: #c5d7bd;
	color: #383e56;
	border-radius: 7px;
	text-shadow: none;
	display: inline-block;
}

.button:hover {
	background-color: #fb743e;
}
